<div>
  <div class="menu_name">
    新着一覧
  </div>

<div class="index">
  <div class="clearfix">
    <% @recipes.each do |recipe| %>
      <div class="index_margin">
        <div class="index_temp">
          <div class="index_time">
            <%= recipe.updated_at.to_s(:published_on) %>
          </div>
            <div class="index_photo">
              <a href="/recipes/<%= recipe.id %>" class="linktxt"></a>
              <div class="index_category">
                <a href=<%="/categories/#{recipe.category.id}"%> class="right"><%= recipe.category.name %></a>
              </div>
              <% if recipe.image? %>
                <%= image_tag (recipe.image.url :class=>"image_index") %>
              <% else %>
                <%= image_tag("noimage.png",:alt=>"noimage", :class=>"image_index") %>
              <% end %>
              <div class="index_about">
                <a href="/recipes/<%= recipe.id %>" class="linktxt"></a>
                <div class="index_title">
                  <%= recipe.title %>
                </div>
                <div class="index_summary">
                  <%= recipe.summary %>
                </div>
              </div>

            </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="paginate">
    <%= paginate @recipes %>
  </div>
</div>

  <%= page_entries_info @recipes %>

</div>
