Hello SAIGEN !!

<p id="notice"><%= notice %></p>

<p>
  <strong>title:</strong>
  <a href="/recipes/<%= @recipe.id %>" ><%= @recipe.title %></a>
</p>

<p>
  <strong>About:</strong>
  <%= @recipe.summary %>
</p>

<tbody>
  <strong>TAG:</strong>
  <!-- 巡回html -->
  <tr>
  <td><%= render 'recipes/tag_list', tag_list: @recipe.recipetag_list %></td>
  </tr>
</tbody>


<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @recipe.image? %>
    <div class="thumbnail">
      <%= image_tag @recipe.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->
