<%= form_for (@recipe) do |f| %>

<div class="menu_name">
    レシピの投稿
</div>

<div class="index">
  <div class="new">

    <div class="detail_photo">
      <div class="detail_photo_flame">
        <% if @recipe.image? %>
          <%= image_tag (@recipe.image.url :class=>"image_new") %>
        <% else %>
          <%= image_tag("dish.jpg",:alt=>"dish", :class=>"image_new") %>
        <% end %>
        <h1> <%= f.text_field :title, placeholder: "レシピ名を入力", class: "form_new" %> </h1>
      </div>
      <!-- 追加箇所 開始 -->
      <div class="photo_button">
        <div class="field">
          <% if @recipe.image? %>
            <div class="thumbnail">
              <%= image_tag @recipe.image.url %>
            </div>
          <% end %><br>
          <%= f.file_field :image, class: "recipe_button"%>
          <%= f.hidden_field :image_cache %>
        </div>
        <!-- 追加箇所 終了 -->
      </div>
    </div>

    <div class="new_table">
      <div class="summary">
        <h2>説明</h2>
        <%= f.text_area :summary, placeholder: "説明を入力", class: "form-control" %>
      </div>

      <div class="summary">
        <h2>カテゴリ</h2>
        <%= f.collection_select :category_id, Category.all, :id, :name, :class=>"select_menu"%>
      </div>

      <h2>材料</h2>
      <div class="ingredients">
        <table class="ingredients_table">
          <tbody>
            <%= f.nested_fields_for :ingredients, wrapper_tag: :tr do |q| %>
                <td><%= q.text_field   :name, placeholder: "材料", class: 'form-control_name' %></td>
                <td><%= q.text_field   :quantity, placeholder: "分量", class: 'form-control_name' %></td>
                <td><%= q.remove_nested_fields_link '☓', class: 'form-control_name', role: 'button01' %></td>
            <% end %>
          </tbody>
        </table>
        <div class="add_button">
          <%= f.add_nested_fields_link :ingredients, '材料を追加', class: '', role: 'button01' %>
        </div>
      </div>

      <h2>作り方</h2>
      <div class="ingredients">
        <table class="ingredients_table">
          <tbody>

            <%= f.nested_fields_for :directions, wrapper_tag: :tr do |r| %>
              <td>
                <%= r.number_field   :step, placeholder: "1",class: 'form-control_number' %>
              </td>
              <td>
                <%= r.text_field   :text, placeholder: "説明", class: 'form-control_name' %>
                <div class="field">
                  <% if @recipe.image? %>
                    <%= image_tag (@recipe.image.url :class=>"image_new") %>
                  <% else %>
                    <%= image_tag("dish.jpg",:alt=>"dish", :class=>"image_new") %>
                  <% end %>
                  <%= r.file_field :image %>
                  <%= r.hidden_field :image_cache %>
                </div>
              </td>
              <td><%= r.remove_nested_fields_link '☓', class: 'form-control_name', role: 'button02' %></td>
            <% end %>
          </tbody>
        </table>
        <div class="add_button">
          <%= f.add_nested_fields_link :directions, '工程を追加', class: '', role: 'button01' %>
        </div>
      </div>

      <div class="summary">
        <h2>アドバイス</h2>
        <%= f.text_area :advice, placeholder: "アドバイスを入力", class: "form-control" %>
      </div>

      <div class="summary">
        <h2>タグ</h2>
        <%= text_area_tag 'recipe[recipetag_list]', @recipe.recipetag_list.join(','), placeholder: "タグをカンマ区切りで入力", class: 'form-control' %>
      </div>

      <div class="button">
        <%= f.submit %>
      </div>


    </div>

  </div>
</div>


    <p class="recipe_p" >てすと</p>
    <input type="button" value="ボタン" class="recipe_button">



<% end %>