new.html.erb
<%= form_for (@recipe) do |f| %>

  <div class="field">
    <%= f.label :レシピ名 %>
    <%= f.text_field :title, placeholder: "レシピ名", class: "form-control" %>
    <%= f.label :カテゴリID %>
    <%= f.text_field :category_id, placeholder: "カテゴリID", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :概要 %>
    <%= f.text_area :summary, placeholder: "概要", class: "form-control" %>
    <%= f.text_area :advice, placeholder: "advice", class: "form-control" %>
  </div>

    <table class="ingredients_table">
    <h3>材料</h3>
        <tbody>
          <tr>
             <th>材料</th>
             <th>分量</th>
             <th>ステップ</th>
             <th>Action</th>
          </tr>
          <%= f.nested_fields_for :ingredients, wrapper_tag: :tr do |q| %>
              <td><%= q.text_field   :name,     class: 'form-control' %></td>
              <td><%= q.text_field   :quantity, class: 'form-control' %></td>
              <td><%= q.number_field   :step,     class: 'form-control' %></td>
              <td><%= q.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button01' %></td>
          <% end %>
        </tbody>
      </table>
      <%= f.add_nested_fields_link :ingredients, 'Add new', class: 'btn btn-primary', role: 'button01' %>

      <table class="directions_table">
      <h3>作り方</h3>
        <tbody>
          <tr>
             <th>ステップ</th>
             <th>写真</th>
             <th>説明</th>
             <th>Action</th>
          </tr>
          <%= f.nested_fields_for :directions, wrapper_tag: :tr do |r| %>
              <td><%= r.number_field   :step,     class: 'form-control' %></td>
              <td>
                <div class="field">
                  <%= r.file_field :image %>
                  <%= r.hidden_field :image_cache %>
                </div>
              </td>
              <td><%= r.text_field   :text,     class: 'form-control' %></td>
              <td><%= r.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button02' %></td>
          <% end %>
        </tbody>
      </table>
      <%= f.add_nested_fields_link :directions, 'Add new', class: 'btn btn-primary', role: 'button02' %>


    <p class="recipe_p" >てすと</p>
    <input type="button" value="ボタン" class="recipe_button">

  <!-- 追加箇所 開始 -->
  <div class="field">
    <% if @recipe.image? %>
      <div class="thumbnail">
        <%= image_tag @recipe.image.url %>
      </div>
    <% end %><br>
    <%= f.label :完成画像 %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @recipe.persisted? && @recipe.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </div>
  <!-- 追加箇所 終了 -->

  <div class="field">
    <%= f.label :recipetag_list, "タグ（カンマ区切り）" %><br>
    <%= text_field_tag 'recipe[recipetag_list]', @recipe.recipetag_list.join(',') %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>