<!DOCTYPE html>
<html>
<head>
  <title>Saigen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="globalnav__menu">
    <nav class="globalnav">

    <div class="logo">
      <ul class='clearfix'>
        <li class='left'>
          <%= link_to(image_tag("logo.png",:alt=>"ロゴ", :class=>"img_logo"), {:controller => '/recipes', :action => 'index'}) %>
        </li>
        <% if user_signed_in? %>
          <li class="right">
            <a href="/users/<%= current_user.id %>">MyPage</a>
        <% else %>
          <li class='right'>
            <%= link_to 'ログイン', "/users/sign_in", method: :get %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="div_menu">
    <%= select_tag :customer_id, options_from_collection_for_select(Category.all, :id, :name) ,:class=>"select_menu"%>
    </div>


    </nav>
  </div>

  <%= yield %>

  <script type="text/javascript">
    $(function(){
    $('#customer_id').on('change', function () {
       var url = "/categories/" + $(this).val()
        if (url) {
            window.location.replace(url);
        }
        return false;
    });
  });

</script>
</body>
</html>
