<!DOCTYPE html>
<html>
<head>
  <title>Saigen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="globalnav__menu">
    <nav class="globalnav">
      <ul class="gmenu">
        <li class="logo" style="float: left">
          <a href="/">SAIGEN</a>
        </li>
      </ul>
      *
      <a href="recipes/new">新規投稿</a>
      *
      <% if user_signed_in? %>
        <li class="entry_button" style="float: right">
        <%= link_to 'ログアウト', "/users/sign_out", method: :delete %>
        </li>
        <li class="entry_button" style="float: right">
          <a href="/users/<%= current_user.id %>">マイページへ</a>
        </li>
        <li class="entry_button" style="float: right">
          <a href="/recipes/new">投稿する</a>
        </li>
      <% else %>
        <li class="entry_button" style="float: right">
          <%= link_to 'ログイン', "/users/sign_in", method: :get %>
        </li>
        <li class="entry_button" style="float: right">
          <a href="/recipes">検索</a>
        </li>
      <% end %>

    </nav>
  </div>

<%= yield %>

</body>
</html>
